page-expense-list {
    .page-content {
        background-color: #3B3B3B;
    }
    
}

page-expense-modal{
    .page-content {
        background-color: #3B3B3B;
    }

    .expense-amount {
        padding-top: 30%;
        font-size: 12rem;
        color:#E07A24;
    }

    .expense-title {
        font-size: 5rem;
        color: #E5E5E5;
    }

    .expense-category {
        font-size: 3rem;
        color:#54ABAB;
    }
}