page-gears {

    .page-content {
        background: #3B3B3B;
    }

    .label {
        margin: 0;
    }

    .item-block {
        margin-bottom: 2px !important;
    }

    .gear-list {
        max-height: 76vh;
        overflow-y: scroll;
    }
}
