page-gears {
    .toolbar-background {
        background-color: #2C2c2c;
    }

    .toolbar-title-md {
        font-size: 3rem;
        color: #ffff;
    }

    .page-content {
        background: #3B3B3B;
    }

    .label {
        margin: 0;
    }

    .item-block {
        margin-bottom: 2px !important;
    }

    .gear-list {
        max-height: 76vh;
        overflow-y: scroll;
    }
}
