page-home {
  .toolbar-title-md{
    font-size: 4rem;
    color: #52b1b1;
  }

  .login-content {
    background: #282828;

    .scroll-content{
      padding: 30px 16px !important;
    }
    .logo-row {
      padding-top: 10px;
      img {
        padding-bottom: 10px;
      }
    }

    .login-box {
      background: #282828;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      background: #e57d21;
      border-radius: 10px !important;
      border: 1px solid #ffffff;
    }

    .register-btn {
      color: #ffffff;
      font-size: 0.8em;
      padding-top: 5px;
    }

    .label-md{
      margin: unset;
    }

    .item-block {
      margin-bottom: 5px !important;
    }
  }
}
