page-home {
    .toolbar-title-md{
      font-size: 4rem;
      color: #52b1b1;
    }
    .login-content {
    background: #282828;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
      .logo-row img{
        padding-bottom: 20px;
      }

    .login-box {
      background: #282828;
      padding: 20px 20px 0px 20px;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      background: #e57d21;
      border-radius: 10px !important;
      border: 1px solid #ffffff;
    }
      .submit-btn:hover{
        background:  #ea9448;
      }

    .register-btn {
      color: #ffffff;
      font-size: 0.8em;
    }
      .register-btn:hover{
        color: #52b1b1;
      }
  }
}
