page-groceries {
    .grocery-content {
        background: #686666;
    }
    .label {
        margin: 0;
    }

    .item-block {
        margin-bottom: 2px !important;
    }

    .grocery-list {
        max-height: 76vh;
        overflow-y: scroll;
    }
}