page-expense-dashboard {
    .page-content {
        background-color: #3B3B3B;
    }

    .expense-total {
        margin-bottom: 0px !important;
        font-size: 8rem;
        color:#E07A24;
    }

    .total-label {
        font-size: 2rem;
        color:#54ABAB;
    }

    .stats-label {
        font-size: 2.5rem;
        color:#E07A24;
    }


}
