// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: Noturnal;
  src: url("../assets/fonts/Romanica.woff") format('woff'),
  url("../assets/fonts/Romanica.ttf")  format('truetype');
}

h1, h2, h3, h4, h5, ion-title{
  font-family: Noturnal;
}

.fab-md{
  background-color: #e57d21;
  border: 1px solid white;
}

ion-row {
  align-items: center;
  text-align: center;
}

ion-item {
  border-radius: 10px !important;
  padding-left: 30px !important;
  font-size: 0.9em;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-bottom: 0px !important;
  box-shadow: none !important;
}

.item-block{
  margin-bottom: inherit;
}

ion-navbar ion-title{
  margin: 2px 0;
}

#fab-add-button{
  position: fixed;
  z-index: 100;
}

.toolbar-background {
  background-color: #2C2C2C;
}

.toolbar-title-md {
  font-size: 3rem;
  color: #52b1b1;
}

.label {
  margin: 0;
}

.item-block {
  margin-bottom: 2px !important;
}

.dismiss{
  background-color: transparent;
  box-shadow: none;
  position: relative;
  top: -8px;
  height: 2.3rem;
}

.modalTitle div, ion-title.modalTitle{
  display: inline;
}

// ion-item{
//   padding: 5px !important;
// }
