<ion-header>
  <ion-toolbar>
    <ion-title class="modalTitle">Edit Event</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows" color="primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="page-content" padding>
  <ion-label class="alert alert-danger" *ngIf="error_message!=''">{{error_message}}</ion-label>
  <ion-item>
    <ion-label>Event Name</ion-label>
    <ion-input [(ngModel)]="eventObject.eventName" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Event Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" max="2050-12-30" [(ngModel)]="eventObject.eventDate"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Users</ion-label>
    <!--need to still do adding these users to table when click ok-->
    <ion-select [(ngModel)]="usersList"  multiple="true" cancelText="Close" okText="Ok">
      <ion-option *ngFor="let user of users"  value={{user._id}}>{{user.username}}</ion-option>
    </ion-select>
  </ion-item>

  <div text-center>
    <button ion-button (click)="editEvent()">Save</button>
  </div>
</ion-content>
