<ion-header>
  <ion-navbar hideBackButton>
    <ion-title float-left>Events</ion-title>

    <button ion-button float-right>
      <ion-icon name="log-out" (click)="signout()"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>

  <!--<ion-list>-->
    <!--<button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">-->
      <!--<ion-icon [name]="item.icon" item-start></ion-icon>-->
      <!--{{item.title}}-->
      <!--<div class="item-note" item-end>-->
        <!--{{item.note}}-->
      <!--</div>-->
    <!--</button>-->
  <!--</ion-list>-->
  <!--<div *ngIf="selectedItem" padding>-->
    <!--You navigated here from <b>{{selectedItem.title}}</b>-->
  <!--</div>-->
  <ion-fab bottom right >
    <button ion-fab (click)="addEvent()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>



